{% extends 'base.html' %}
{% block title %}
    Crear Empleado
{% endblock %}

{% block contenido %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Registrar Empleado</h1>
                {% csrf_token %}
            <form class="grid-x grid-margin-x" method="post"  enctype="multipart/form-data">
                <div class=" cell large-6 cell">
                    <label>Nombres:
                      {{ form.first_name }}
                    </label>
                </div>
                <div class=" cell large-6 cell">
                    <label>Apellidos:
                      {{ form.last_name }}
                    </label>
                </div>
                 <div class=" cell large-6 cell">
                    <label>Trabajo:
                      {{ form.job }}
                    </label>
                </div>
                 <div class=" cell large-6 cell">
                    <label>Departamento:
                      {{ form.departamento }}
                    </label>
                </div>
                <div class=" cell large-6 cell">
                    <label>Habilidades:
                      {{ form.habilidades }}
                    </label>
                </div>
                <div class=" cell large-6 cell">
                    <label>Avatar:
                      {{ form.avatar }}
                    </label>
                </div>
                    <div class=" cell ">
                        <button type="submit" class="success button">Actualizar</button>
                    </div>
            </form>

        </div>
    </div>


{% endblock %}
