{% extends 'base.html' %}
{% block title %}
    Nuevo Departamento
{% endblock %}
{% block contenido %}
    <div class="grid-container">
        <div class="grid-x">
             <h1 class="cell">Registrar Nuevo departamento</h1>
                {% csrf_token %}
             <form class=" cell callout grid-x grid-margin-x" method="post"  enctype="multipart/form-data">
                 <h3 class="cell large-12"> Datos Empleado</h3>
                 <div class=" cell large-6 cell">
                    <label>Nombre:
                      {{ form.nombre }}
                    </label>
                </div>
                 <div class=" cell large-6 cell">
                    <label>Apellidos:
                    {{ form.apellidos }}
                    </label>
                </div>
                 <h3 class="cell large-12"> Datos Departamento</h3>
                 <div class=" cell large-6 cell">
                    <label>Departamento:
                    {{ form.departamento }}
                    </label>
                </div>
                 <div class=" cell large-6 cell">
                    <label>Alias:
                    {{ form.shorname }}
                    </label>
                </div>
                 <div class=" cell ">
                     <button type="submit" class="success button">Actualizar</button>
                 </div>
             </form>
        </div>
    </div>
{% endblock %}


</body>
</html>